@using Microsoft.AspNetCore.Identity
@using TherapyDashboard.Areas.Identity.Data
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<TherapyDashboardUser> SignInManager
@inject UserManager<TherapyDashboardUser> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="list-group">
    @if (User.IsInRole(RoleType.Admin) || User.IsInRole(RoleType.IT))
    {
        <a asp-controller="Admin" asp-action="Index" class="list-group-item list-group-item-action">Manage Accounts</a>
    }
    @if (User.IsInRole(RoleType.Admin) || User.IsInRole(RoleType.Counselor) || User.IsInRole(RoleType.Intern))
    {
        <a asp-controller="Clients" asp-action="Index" class="list-group-item list-group-item-action">Find Client</a>
    }
    @if (User.IsInRole(RoleType.Admin) || User.IsInRole(RoleType.Counselor))
    {
        <a asp-controller="Reports" asp-action="Index" class="list-group-item list-group-item-action">Generate Reports</a>
    }
</div>

