
@{
    ViewData["Title"] = "Reports";
}

<h1>Demo: Generating Excel Files</h1>

<a asp-controller="Reports" asp-action="Export" class="btn btn-primary">Export Data Sheet Demo</a><br/>
<br/>
<a asp-controller="Reports" asp-action="ExportChart" class="btn btn-primary">Export Chart Sheet Demo</a>