
@{
    ViewData["Title"] = "Reports";
}

<h1>Demo: Generating Excel Files</h1>

<a asp-controller="Reports" asp-action="Export">Export Data Sheet Demo</a><br/>
<a asp-controller="Reports" asp-action="ExportChart">Export Chart Sheet Demo</a>