@model IEnumerable<TherapyDashboard.Models.Database.Client>
@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>
<a asp-action="Create" class="btn btn-primary">Add New Client</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>