@model TherapyDashboard.Models.Database.Assessment
@using TherapyDashboard.Areas.Identity.Data
@{
    ViewData["Title"] = "Conduct PPS-R Assessment";
}

<h1>Empowerment Scale (PPS-R)</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreatePPSR">
            <p>The following statements identify feelings or experiences that some people use to describe themselves. Please answer each question in terms of any aspects of your personal identity that are important to you as a woman, such as gender, race, ethnicity, culture, nationality, sexual orientation, family background, etc. There are no right or wrong answers.</p>
            <div class="form-group">
                <label class="control-label">I have equal relationships with important others in my life.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">It is important to me to be financially independent.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">It is difficult for me to be assertive with others when I need to be.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I can speak up for my needs instead of always taking care of other people's needs.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I feel prepared to deal with the discrimination I experience in today's society.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">It is difficult for me to recognize when I am angry.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I feel comfortable in confronting my instructor/counselor/supervisor when we see things differently.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I now understand how my cultural heritage has shaped who I am today.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I give in to others so as not to displease or anger them.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I don't feel good about myself as a woman.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">When others criticize me, I do not trust myself to decide if they are right or if I should ignore their comments.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I realize that given my current situation, I am coping the best I can.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I am feeling in control of my life.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">In defining for myself what it means for me to be attractive, I depend on the opinion of others.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I can't seem to make good decisions about my life.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I do not feel competent to handle the situations that arise in my everyday life.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I am determined to become a fully functioning person.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I do not believe that there is anything I can do to make things better for women like me in today's society.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I believe that a woman life me can succeed in any job or career that I choose.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">When making decisions about my life, I do not trust my own experience..</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">It is difficult for me to tell others when I feel angry.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I am able to satisfy my own sexual needs in a relationship.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">It is difficult for me to be good to myself.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">It is hard for me to ask for help or support from others when I need it.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I want to help other women like me improve the quality of their lives.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I feel uncomfortable in confronting important others in my life when we see things differently.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I want to feel more appreciated for my cultural background.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>
            <div class="form-group">
                <label class="control-label">I am aware of my own strengths as a woman.</label>
                <select class="form-control" asp-items="TherapyDashboard.Models.Database.Templates.PPSRList"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
