
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- Generic landing page for either clients or counselors. Used without nav at top, with a big "Are You Ready to Begin?" and name of test on it. -->
